
obj
bin
deploy
deploy/*
*.cache
*.zip
*.lnk

_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
docs/samples
docs/output
publish.bat
source/Examples/Examples-results
TestResult.xml
samples/Grammars-results
StoryTeller.1*
*ReSharper*
demo/*

src/packages
artifacts
src/StoryTeller.sln.DotSettings.user
src/StoryTeller/StoryTeller.csproj.DotSettings.user
*.DotSettings.user
logs
Gemfile.lock
history.xml
st-results
st-results.htm
src/StoryTeller.Samples.Storyteller.Samples-results
src/StoryTeller.Samples/Storyteller.Samples-results
*.stresult
*.userprefs
results/*
src/ST/fubu-content
src/stresults.htm
src/results.htm
results/Storyteller.Core.Testing-TestResults.xml
packages
client/public/javascript
node_modules
npm-debug.log

test/bundle.js

client/smoke-tests/bundle.js
src/ST/*.js
results
.vimrc

stresults.htm
documentation/fubu-content
client/public/.DS_Store

client/lib/.DS_Store

client/public/.DS_Store

client/.DS_Store

.DS_Store

.DS_Store

.DS_Store

client/.DS_Store
stresults.htm
client/.DS_Store

client/.DS_Store

.DS_Store

.DS_Store

client/.DS_Store

client/.DS_Store

client/public/.DS_Store

.DS_Store

client/.DS_Store

*.tmp

project.lock.json
*.xproj.user