build
obj
bin
deploy
results
deploy/*
*.cache
*.zip
*.lnk
source/CommonAssemblyInfo.cs
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
docs/samples
docs/output
publish.bat
source/Examples/Examples-results
TestResult.xml
samples/Grammars-results
StoryTeller.1*
*ReSharper*
demo/*
source/StoryTeller/CommonAssemblyInfo.cs
src/packages
src/CommonAssemblyInfo.cs
artifacts

src/StoryTeller.sln.DotSettings.user
src/StoryTeller/StoryTeller.csproj.DotSettings.user
*.DotSettings.user