source https://www.myget.org/F/fubumvc-edge
source http://nuget.org/api/v2

nuget Baseline
nuget CommonMark.NET
nuget Microsoft.AspNetCore.Server.Kestrel
nuget NSubstitute
nuget Oakton
nuget Selenium.WebDriver
nuget Selenium.RC
nuget ilrepack
nuget HtmlTags 3.0.0.186
nuget Fleck 0.12.0.40
nuget Newtonsoft.Json 4.5.9
nuget Owin 1.0
nuget Shouldly 2.4.0
nuget structuremap 3.2.0.217-alpha
nuget xUnit