source https://www.myget.org/F/fubumvc-edge
source http://nuget.org/api/v2

nuget Fixie
nuget HtmlTags 2.1.0.183
nuget Fleck 0.12.0.40
nuget Newtonsoft.Json
nuget Owin 1.0
nuget Shouldly 2.4.0
nuget structuremap ~> 3.1
nuget structuremap.automocking ~> 3.1
source https://www.myget.org/F/fubumvc-edge
source http://nuget.org/api/v2
source https://www.myget.org/F/fubumvc-edge
source http://nuget.org/api/v2
source https://www.myget.org/F/fubumvc-edge
source http://nuget.org/api/v2
source https://www.myget.org/F/fubumvc-edge
source http://nuget.org/api/v2
source https://www.myget.org/F/fubumvc-edge
source http://nuget.org/api/v2
source https://www.myget.org/F/fubumvc-edge
source http://nuget.org/api/v2
source https://www.myget.org/F/fubumvc-edge
nuget ilrepack
nuget FubuCore 2.0.0.291
nuget Bottles ~> 3.0
nuget FubuMVC.Core ~> 2.0.0.1912
nuget FubuMVC.Katana ~> 2.0.0.1912
nuget FubuMVC.StructureMap ~> 2.0.0.1912