<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>storyteller2</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="https://www.myget.org/F/fubumvc-edge" Mode="Fixed" Stability="ReleasedOnly" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
    <Dependency Name="Bottles" Version="3.0.0.605" Mode="Fixed" />
    <Dependency Name="Fleck" Version="0.12.0.38" Mode="Float" />
    <Dependency Name="FubuCore" Version="2.0.0.291" Mode="Fixed" />
    <Dependency Name="FubuMVC.Core" Version="2.0.0.1911" Mode="Fixed" />
    <Dependency Name="FubuMVC.Katana" Version="2.0.0.1911" Mode="Float" />
    <Dependency Name="FubuMVC.StructureMap" Version="2.0.0.1911" Mode="Float" />
    <Dependency Name="FubuTestingSupport" Version="2.0.0.291" Mode="Fixed" />
    <Dependency Name="Newtonsoft.Json" Version="4.5.10" Mode="Fixed" />
    <Dependency Name="NUnit" Version="2.6.3.0" Mode="Fixed" />
    <Dependency Name="NUnit.Runners" Version="2.6.3.0" Mode="Float" />
    <Dependency Name="Owin" Version="1.0.0.0" Mode="Float" />
    <Dependency Name="RhinoMocks" Version="3.6" Mode="Fixed" />
    <Dependency Name="structuremap" Version="3.1.4.143" Mode="Fixed" />
    <Dependency Name="structuremap.automocking" Version="3.1.0.133" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>