html, body{
	font-family:Arial, Helvetica, sans-serif;
	color:#111;
	line-height:1.4em;
	/*background-color: #ccc;*/ 
}

a
{
    color:#AAA;
	font-size:smaller;
	margin-left: 5px;
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	color:#000080;
	text-decoration: underline;
	font-weight: normal;
}

.comment-text
{
	font-family: Courier New;
	font-size:75%;
}


.comment-editor-holder > textarea
{
	width:600px;
	height:100px;
	
}

.Comment
{
	margin-top:20px;
	margin-bottom:10px;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	/*background:#FFFFEF none repeat scroll 0 0;*/
	background:wheat none repeat scroll 0 0;
	border:1px solid #EBEBDB;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	white-space: pre
}

div.section-title > a.deleteStep
{
	float:right;
}

.section-title{

	-moz-background-clip:border;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	background-color:#EBEAEA;
	border-color:#FAFAFA #DDDDDD #D2D2D2;
	border-style:solid;
	border-width:1px;
	margin: 0;
	padding: 5px;
	font-size: 100%;
	font-weight: bold;
	
	background-color:lightblue;
	font-size: 90%;
	color:#E17009;
	
	border:1px solid #A6C9E2;
	
}

.section-header > .section-title
{
	margin-bottom: 5px;
}

.step-holder
{
	border:1px solid #A6C9E2;
	padding: 10px;
}

img.remover
{
	margin-bottom: 0px;
	margin-left: 0px;
}

.main table
{
	border-right: 1px dotted #d8d8d8;
	border-bottom: 1px dotted #d8d8d8;
}

.main table > tfoot a
{
	padding-right: 10px;
}

.table-add-row
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #eee;
}

.table-add-row > a
{
	float: right;
	
}

table.grid > thead > tr > th{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #eee;
	font-size: 90%;
}

table.grid > thead > tr
{
	background-color: #eee;
}

table.grid > tbody > tr > td {
	padding: 2px;
	border-bottom: 1px dotted #d8d8d8;
	background-color: #eee;
}

table.grid > tbody > tr:hover{
	background-color: #c8c8c8;
}

