{
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "rules": {
    "quotes": [1, "single", "avoid-escape"],
    "no-unused-vars": 0
  }
}
